@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'SF-UI-Display-Light';
  src: url("fonts/sf-ui-display-light.otf") format("otf"), url("fonts/sf-ui-display-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Display-Medium';
  src: url("fonts/sf-ui-display-medium.otf") format("otf"), url("fonts/sf-ui-display-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Display-Semibold';
  src: url("fonts/sf-ui-display-semibold.otf") format("otf"), url("fonts/sf-ui-display-semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

body {
  background-color: #132438;
  font-family: SF-UI-Display-Light; }

h1 {
  font-size: 80px;
  color: #BEE3EC; }

.nav-wrapper {
  position: fixed;
  min-width: 100%; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  background-color: #132438;
  box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.2);
  padding: 0 125px;
  font-family: 'Inconsolata', monospace;
  opacity: 1;
  z-index: 1; }

.header-logo {
  color: #53F1D7;
  padding: 0 25px; }

.nav-links {
  display: flex;
  list-style: none; }

.nav-links a {
  color: #53F1D7;
  text-decoration: none;
  padding: 25px 25px;
  font-size: 20px; }

.toggle-menu {
  display: none;
  cursor: pointer; }

.toggle-menu div {
  width: 25px;
  height: 3px;
  background-color: #53F1D7;
  margin: 5px;
  border-radius: 10px; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }
  nav {
    padding: 0 30px; }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 280px;
    top: 90px;
    background-color: #132438;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
  .nav-links li {
    padding-top: 30px;
    padding-bottom: 10px;
    opacity: 0; }
  .toggle-menu {
    display: block;
    padding: 0 25px; } }

.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: 50px; }
  to {
    opacity: 1;
    transform: 0px; } }

.hero-section {
  color: #BEE3EC;
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 220px;
  text-align: center; }

.hero-line-animated {
  font-family: 'Inconsolata', monospace;
  color: #53F1D7;
  font-size: 26px;
  text-align: left; }

.hero-line-name {
  font-family: SF-UI-Display-SemiBold;
  font-size: 80px;
  position: relative;
  left: -4px;
  padding-top: 45px;
  text-align: left; }

.hero-line-header {
  font-family: SF-UI-Display-SemiBold;
  font-size: 80px;
  color: #A1B6BB;
  position: relative;
  top: -15px;
  left: -4px;
  text-align: left; }

.hero-line-subheader {
  max-width: 550px;
  font-size: 22px;
  letter-spacing: 0.50px;
  padding-top: 40px;
  text-align: left; }

.scroll-down-button {
  display: inline-block;
  margin-top: 60px; }
