@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'SF-UI-Display-Light';
  src: url("fonts/sf-ui-display-light.otf") format("otf"), url("fonts/sf-ui-display-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Display-Medium';
  src: url("fonts/sf-ui-display-medium.otf") format("otf"), url("fonts/sf-ui-display-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Display-Semibold';
  src: url("fonts/sf-ui-display-semibold.otf") format("otf"), url("fonts/sf-ui-display-semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

body {
  background-color: #132438;
  font-family: 'SF-UI-Display-Light', sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: #BEE3EC; }

.section-title-style {
  font-family: 'Inconsolata', monospace;
  font-size: 38px;
  color: #53F1D7; }

nav {
  position: fixed;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  background-color: #132438;
  box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.15);
  padding: 0 125px;
  font-family: 'Inconsolata', monospace;
  transition: all ease-in-out 0.5s;
  z-index: 1; }

.header-logo {
  color: #53F1D7;
  padding: 0 25px; }

.nav-links {
  display: flex;
  list-style: none; }

.nav-links a {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 20px;
  color: #BEE3EC; }

.interaction {
  transition: all ease-in-out 0.3s;
  border-bottom: solid 2px #132438; }

.interaction:hover {
  color: #53F1D7;
  border-bottom: solid 2px #53F1D7; }

.toggle-menu {
  display: none;
  cursor: pointer; }

.toggle-menu div {
  width: 25px;
  height: 3px;
  background-color: #53F1D7;
  margin: 5px;
  border-radius: 10px; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }
  nav {
    padding: 0 30px;
    min-height: 60px; }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 280px;
    top: 60px;
    background-color: #132438;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
  .nav-links li {
    padding-top: 30px;
    padding-bottom: 10px;
    opacity: 0; }
  .toggle-menu {
    display: block;
    padding: 0 25px; } }

.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: 50px; }
  to {
    opacity: 1;
    transform: 0px; } }

.hero-section {
  color: #BEE3EC;
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center; }

.hero-line-animated {
  font-family: 'Inconsolata', monospace;
  color: #53F1D7;
  font-size: 22px;
  text-align: left; }

.hero-line-name {
  font-family: 'SF-UI-Display-SemiBold', sans-serif;
  font-size: 76px;
  padding-top: 25px;
  position: relative;
  left: -4px;
  text-align: left; }

.hero-line-header {
  font-family: SF-UI-Display-SemiBold;
  font-size: 76px;
  color: #A1B6BB;
  position: relative;
  top: -15px;
  left: -4px;
  text-align: left; }

.hero-line-subheader {
  max-width: 530px;
  font-size: 20px;
  line-height: 1.3;
  padding-top: 30px;
  text-align: left; }

.scroll-down-button {
  display: inline-block;
  margin-top: 70px;
  transition: 0.2s ease-out; }

.scroll-down-button:hover {
  transform: translateY(10px);
  -webkit-transform: translateY(10px); }

.about-section {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 180px; }

.about-section-description {
  text-align: left;
  max-width: 500px;
  padding-top: 45px; }
