@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'SF-UI-Display-Light';
  src: url("fonts/sf-ui-display-light.otf") format("otf"), url("fonts/sf-ui-display-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Display-Medium';
  src: url("fonts/sf-ui-display-medium.otf") format("otf"), url("fonts/sf-ui-display-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF-UI-Display-Semibold';
  src: url("fonts/sf-ui-display-semibold.otf") format("otf"), url("fonts/sf-ui-display-semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

body {
  background-color: #132438;
  font-family: SF-UI-Display-Light; }

h1 {
  font-size: 80px;
  color: #BEE3EC; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  background-color: #132438;
  box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.2);
  padding: 0 125px;
  font-family: 'Inconsolata', monospace;
  opacity: 1; }

.header-logo {
  color: #53F1D7;
  padding: 0 25px; }

.nav-links {
  display: flex;
  list-style: none; }

.nav-links a {
  color: #53F1D7;
  text-decoration: none;
  padding: 25px 25px;
  font-size: 20px; }

.toogle-menu {
  display: none;
  cursor: pointer; }

.toogle-menu div {
  width: 25px;
  height: 3px;
  background-color: #53F1D7;
  margin: 5px;
  border-radius: 10px; }
