.blog-section {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 300px;
}
.articles-container {
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: $light-navy;
  background-color: $light-navy;
  box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.15);
  transition: ease 0.2s;
}
.articles-container:hover {
  border-color: $bright-blue;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.article-date {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: $bright-blue;
  padding: 40px 40px 20px 40px;
}
.article-title {
  font-family: 'SF-UI-Display-Semibold', sans-serif;
  font-size: 52px;
  color: $light-slate;
  padding: 0 40px 20px 40px;
  line-height: 1;
}
.article-subheader{
  padding: 0 40px 20px 40px;
  color: $light-slate;
}
.article-tags-image{
  display: inline;
  padding: 0 0 20px 40px;
}
.article-tags {
  font-family: 'Inconsolate', monospace;
  color: $bright-blue;
  display: inline;
  position: relative;
  top: -25px;
  padding: 0 0 0 20px;
}
.article-on-dev {
  font-family: 'Inconsolate', monospace;
  font-size: 16px;
  color: $bright-blue;
  text-align: right;
  padding: 0 40px 40px 40px;
}

@media screen and (max-width: 768px) {
  .blog-section {
    padding-top: 150px;
  }
  .article-date {
    padding: 20px 20px 20px 20px;
  }
  .article-title {
    font-size: 20px;
    padding: 0 20px 20px 20px; 
  }
  .article-subheader {
    font-size: 16px;
    padding: 0 20px 20px 20px;
  }
  .article-tags-image {
    display: none;
  }
  .article-tags {
    display:none;
  }
}