.switch-lang {
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 5px;
    font-family: 'Inconsolata', monospace;
    color: $slate;
    transition: 0.4s ease;
}
.switch-lang:hover {
    color: $bright-blue;
}
.hero-section {
    color: $light-slate;
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
}
.hero-line-mono{
    text-align: left;
    font-family: 'Inconsolata', monospace;
    color: $bright-blue;
    font-size: 22px;
}
.hero-line-name {
    font-family: 'SF-UI-Display-SemiBold', sans-serif;
    font-size: 76px;
    padding-top: 25px;
    position: relative;
    left: -4px;
    text-align: left;
    line-height: 1;
}
.hero-line-header {
    font-family: SF-UI-Display-SemiBold;
    font-size: 76px;
    color: $slate;
    position: relative;
    left: -4px;
    text-align: left;
    line-height: 1;
}
.hero-line-subheader{
    max-width: 530px;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 50px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .switch-lang {
        padding-top: 70px;
        font-size: 14px;
    }
    .hero-section {
        padding-top: 100px;
    }
    .hero-line-mono {
        font-size: 18px;
    }
    .hero-line-name {
        font-size: 48px;
    }
    .hero-line-header {
        font-size: 48px;
    }
    .hero-line-subheader {
        font-size: 18px;
        max-width: 350px;
    }
    .scroll-down-button {
        width: 25px;
        margin-top: 70px;
    }
}


@media screen and (max-width: 480px) {
    .hero-section {
        padding-top: 80px;
    }
    .hero-line-mono {
        font-size: 16px;
    }
    .hero-line-name {
        font-size: 38px;
    }
    .hero-line-header {
        font-size: 38px;
    }
    .hero-line-subheader {
        font-size: 16px;
        padding-top: 30px;
    }
}