nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    background-color: $main-background;
    box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.20);
    padding: 0 125px;
    font-family: 'Inconsolata', monospace;
    opacity: 1;
}

.header-logo {
    color: $bright-blue;
    padding: 0 25px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    color: $bright-blue;
    text-decoration: none;
    padding: 25px 25px;
    font-size: 20px;
}



.toogle-menu {
    display: none;
    cursor: pointer;
}

.toogle-menu div {
    width: 25px;
    height: 3px;
    background-color: $bright-blue;
    margin: 5px;
    border-radius: 10px;
}