.featured-projects-section {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 300px;
}

//Project container with a grid generator to correctly place the image and text.
.project-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.project-image {
  img {
    border-radius: 3px;
    width: 100%;
    height: auto;
  }
}
.project-text-card {
  background-color: rgba(37, 50, 68, 1);
  text-align: right;
  border-radius: 3px;
  box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.15);
  
  h3 {
    font-family: 'SF-UI-Display-Semibold', sans-serif;
    font-size: 30px;
    padding: 30px 30px 20px 0;
  }
  .project-description {
    padding: 0 30px 20px 30px;
  }
  .project-specs {
    font-family: 'Inconsolata', monospace;
    color: $bright-blue;
    padding: 0 30px 30px 30px;
  }
  a {
    display: inline-block;
    position: relative;
    right: 30px;
    padding-bottom: 30px;
  }
}

//grid-area property uses the following syntax:
//grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end
.text-opt1 {
  grid-area: 1 / 9 / 1 / 13;
}
.img-opt1 {
  grid-area: 1 / 1 / 1 / 10;
}

//Media queries for the Minor Projects Section
@media screen and (max-width: 768px) {
  .featured-projects-section {
    padding-top: 300px;
  }
  .project-container {
    display: block;
  }

  .project-text-card {
    background: none;
    text-align: left;
    border-radius: 3px;
    box-shadow: none;
    
    h3 {
      padding: 30px 30px 20px 0;
    }
    .project-description {
      padding: 0 30px 20px 0px;
    }
    .project-specs {
      padding: 0 30px 30px 0;
    }
    a {
      right: 0px;
    }
  }
}
@media screen and (max-width: 480px) {
  .project-description {
    font-size: 16px;
  }
  .project-specs {
    font-size: 16px;
  }
}

/////////////////////////
//Minor projects section specifics. Card styling uses the same styles from the featured projects
.minor-projects-section {
  max-width: 1020px;
  padding-top: 300px;
  margin: 0 auto;
}

//Minor projects container flexbox setup
.minor-projects-container {
  max-width: 1020px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  padding-top: 50px;
}

//Minor projects card containers
.minor-text-card {
  background-color: rgba(37, 50, 68, 0.95);
  text-align: left;
  max-width: 400px;
  border-radius: 3px;
  box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  margin: 10px;

  .text-wrapper {
    min-height: 250px;
  }
  .minor-title {
    font-family: 'SF-UI-Display-Semibold', sans-serif;
    font-size: 24px;
    padding: 30px 30px 20px 30px;
  }
  .minor-description {
    padding: 0 30px 20px 30px;
    font-size: 16px;
  }
  .minor-specs {
    font-family: 'Inconsolata', monospace;
    color: $bright-blue;
    padding: 0 30px 30px 30px;
    font-size: 16px;
  }
  a {
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

//Media queries for the Minor Projects Section
@media screen and (max-width: 1024px) {
  .minor-projects-container {
    flex-wrap: wrap;
  }
  .minor-text-card {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .minor-projects-container {
    justify-content: center;
  }
  .minor-text-card {
    width: 100%;

    .text-wrapper {
      min-height: 200px;
    }
  }
}