// Properties for all buttons in the page
.project-button-behance {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: $bright-blue;
  text-align: center; 
  border-style: solid;
  border-width: 1px;
  border-color: $bright-blue;
  border-radius: 3px;
  max-width: 200px;
  padding: 18px 15px 18px 15px;
  cursor: pointer;
  transition: 0.4s ease;
}
.project-button-behance:hover {
  background: rgba(82, 237, 212, 0.10);
}
.see-my-work-button {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: $bright-blue;
  text-align: center; 
  border-style: solid;
  border-width: 1px;
  border-color: $bright-blue;
  border-radius: 3px;
  max-width: 220px;
  margin-top: 60px;
  padding: 18px 15px 18px 15px;
  cursor: pointer;
  transition: 0,4s ease;
}
.see-my-work-button:hover {
  background: rgba(82, 237, 212, 0.10);
}

.article-archive-button {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: $bright-blue;
  text-align: center; 
  border-style: solid;
  border-width: 1px;
  border-color: $bright-blue;
  border-radius: 3px;
  max-width: 300px;
  padding: 18px 15px 18px 15px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 0 auto;
}
.article-archive-button:hover {
  background: rgba(82, 237, 212, 0.10);
}

.contact-me-button {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: $bright-blue;
  text-align: center; 
  border-style: solid;
  border-width: 1px;
  border-color: $bright-blue;
  border-radius: 3px;
  max-width: 200px;
  padding: 18px 15px 18px 15px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 0 auto;
}
.contact-me-button:hover {
  background: rgba(82, 237, 212, 0.10);
}
.switch-lang-button {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  color: $bright-blue;
  text-align: center; 
  border-style: solid;
  border-width: 1px;
  border-color: $bright-blue;
  border-radius: 3px;
  max-width: 260px;
  padding: 15px 12px 15px 12px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 0 auto;
}
.switch-lang-button:hover {
  background: rgba(82, 237, 212, 0.10);
}
@media screen and (max-width: 480px) {
  .switch-lang-button {
    font-size: 14px;
    max-width: 220px;
  }
}