// Reset code
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $main-background;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 450px;
  }
}
.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@media screen and (max-width: 768px) {
  .loader {
    img {
      width: 200px;
    }
  }
}
