// Typography related properties
//Inconsolata Family - Use font-family: 'Inconsolata', monospace; to specify in the document
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

//SF UI Display - Family Use font-family: SF-UI-Display-Light; -  font-family: SF-UI-Display-Medium; - font-family: SF-UI-Display-SemiBold; to specify in the documents
@font-face {
  font-family: "SF-UI-Display-Light";
  src: url("fonts/sf-ui-display-light.otf") format("otf"),
    url("fonts/sf-ui-display-light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display-Medium";
  src: url("fonts/sf-ui-display-medium.otf") format("otf"),
    url("fonts/sf-ui-display-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-UI-Display-Semibold";
  src: url("fonts/sf-ui-display-semibold.otf") format("otf"),
    url("fonts/sf-ui-display-semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
