body {
    background-color: $main-background;
    font-family: 'SF-UI-Display-Light', sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
    color: $light-slate;
    -webkit-font-smoothing: antialiased;
}
.megadiv {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}
@media screen and (max-width: 1440px) {
    .megadiv {
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media screen and (max-width: 768px) {
    .megadiv {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 480px) {
    .megadiv {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.section-title-style {
    font-family: 'Inconsolata', monospace;
    font-size: 38px;
    color: $bright-blue;
}
.center-title-style {
    text-align: center;
}
.right-title-style {
    text-align: right;
}
.remove-hyperlink {
    text-decoration: none;
}