body {
    background-color: $main-background;
    font-family: 'SF-UI-Display-Light', sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
    color: $light-slate;
    -webkit-font-smoothing: antialiased;
}
.megadiv {
    padding-left: 150px;
    padding-right: 150px;
}
.section-title-style {
    font-family: 'Inconsolata', monospace;
    font-size: 38px;
    color: $bright-blue;
}
.center-title-style {
    text-align: center;
}
.right-title-style {
    text-align: right;
}
.remove-hyperlink {
    text-decoration: none;
}